<div class="text-center text-white">
    {{organization()|json}}
</div>
<section class="bg-gray-50 dark:bg-gray-900 text-white ">
    <div class="flex justify-center py-[2rem] ">
        <div class="p-5 rounded-xl border-blue-500 shadow-blue-500 border-1 shadow-xl w-[70%] max-[425px]:w-[100%]">
            <div class="text-4xl text-[#5f5fd4] mb-5">Disponibilidad de canchas</div>
            <div class="flex justify-start">
                <div class="flex">
                    <div class="p-3 shadow-sm bg-[#C7E9CB] w-3 h-3 rounded-full"></div>
                    <div class="text-[#7D7D7D] text-2xl">Disponible</div>
                </div>
                <div class="flex px-3"></div>
                <div class="flex">
                    <div class="p-3 shadow-sm bg-[#E5B7B7] w-3 h-3 rounded-full"></div>
                    <div class="text-[#7D7D7D] text-2xl">No Disponible</div>
                </div>
            </div>
            <div>
                <table class="table-auto border-collapse border border-slate-500">
                    <thead>
                        <tr>
                            <th class="border border-slate-600 px-5">Nombre de canchas</th>
                            <th class="border border-slate-600 px-5">Rango Horario</th>
                            <th class="border border-slate-600 px-5">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="border border-slate-600">cancha</td>
                            <td class="border border-slate-600">11:11-11:11</td>
                            <td class="border border-slate-600">botones</td>
                        </tr>
                        <tr>
                            <td class="border border-slate-600">cancha</td>
                            <td class="border border-slate-600">11:11-11:11</td>
                            <td class="border border-slate-600">botones</td>
                        </tr>
                        <tr>
                            <td class="border border-slate-600">cancha</td>
                            <td class="border border-slate-600">11:11-11:11</td>
                            <td class="border border-slate-600">botones</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="flex justify-center py-[2rem]">
        <div
            class="w-[70%] max-[425px]:w-[100%] py-2 rounded-xl border-blue-500 shadow-blue-500 border-1 shadow-xl ">
            <div class="">
                <div class="px-3 py-1 text-3xl text-blue-700 dark:text-white">Canchas</div>
            </div>
            <div class="px-4">
                <form>
                    <div class="col mt-4 form-group">
                        <label for="input" class="form-label text-[#063C65] dark:text-white text-2xl">Ingrese nombre de nueva
                            cancha:</label>

                        <input type="text" class="form-control" name="name" required id="name" minlength="4"
                            formControlName="name" />

                    </div>

                    <div class="col mt-4 form-group">
                        <label for="input" class="form-label text-[#063c65] dark:text-white text-2xl">Seleccione la
                            duración de la reserva:</label>

                        <select class="form-select text-gray-800 bg-gray-200" name="rangoHorario" id="rangoHorario" name="rangoHorario"
                            formControlName="rangoHorario" required>
                            <option value="1">1 Hora</option>
                            <option value="2">1:30 Horas</option>
                            <option value="3">2 Horas</option>
                        </select>

                    </div>

                    <div class="text-center mt-4 text-black">
                        <button [width]="'px-[5rem]'" [widthResponsive]="'sm:px-[9rem]'" customButton>
                            Agregar Cancha
                        </button>
                        
                    </div>
                    
                </form>
            </div>
        </div>
    </div>


</section>