<shared-calendar-header
  [courts]="courts"
  [idCourt]="idCourt"
  [weekNumber]="weekNumber"
  [year]="year"
  [loading]="loading"
  [hours]="hours"
>
</shared-calendar-header>

<shared-calendar-days
  [year]="yearComputed"
  [weekNumber]="weekNumberComputed"
>
</shared-calendar-days>

<div class="text-center">

  <shared-calendar-hours
    *ngIf="!loading(); else loader"
    [hours]="hours"
    [weekNumber]="weekNumber"
  >
  </shared-calendar-hours>

  <ng-template #loader>
    <shared-loader></shared-loader>
  </ng-template>

</div>