<section class="bg-gray-50 dark:bg-gray-900 text-white ">
    <div class="flex justify-center py-[2rem]">
        <div
            class="w-[70%] max-[425px]:w-[100%] py-2 rounded-xl border-blue-500 shadow-blue-500 border-1 shadow-xl ">
            <div class="">
                <div class="px-3 py-1 text-3xl text-blue-700 dark:text-white">Agregar Horas</div>
            </div>
            <div class="px-[5rem] space-y-4 md:space-y-6 sm:p-800 ">
                <form class="">
                    <div class="col mt-4 form-group">
                        <label for="input" class="form-label text-[#063c65] dark:text-white text-2xl mb-[5rem]">Seleccione la
                            cancha para crear horas:</label>

                        <select class="form-select  w-full bg-gray-50 border border-gray-300 text-gray-900
                        sm:text-lg rounded-lg focus:ring-primary-600 focus:border-primary-600
                        p-2.5 dark:bg-gray-700 dark:border-gray-600
                        dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
                        dark:focus:border-blue-500" name="rangoHorario" id="rangoHorario" name="rangoHorario"
                            formControlName="rangoHorario" required>
                            <option>cancha 1</option>
                            <option>cancha 2</option>
                            <option>cancha 3</option>
                        </select>

                    </div>
                    <div class="col mt-4 form-group">
                        <label for="input" class="form-label text-[#063C65] dark:text-white text-2xl">Ingrese Horario de inicio:</label>

                        <input type="time" class="form-control block w-full bg-gray-50 border border-gray-300 text-gray-900
                        sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600
                        p-2.5 dark:bg-gray-700 dark:border-gray-600
                        dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
                        dark:focus:border-blue-500" name="name" required id="name"
                            formControlName="name" />

                    </div>
                    <div class="col mt-4 form-group">
                        <label for="input" class="form-label text-[#063C65] dark:text-white text-2xl">Ingrese Horario de fin:</label>

                        <input type="time" class="form-control block w-full bg-gray-50 border border-gray-300 text-gray-900
                        sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600
                        p-2.5 dark:bg-gray-700 dark:border-gray-600
                        dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
                        dark:focus:border-blue-500" name="name" required id="name"
                            formControlName="name" />

                    </div>
                    <div class="col mt-4 form-group">
                        <label for="input" class="form-label text-[#063C65] dark:text-white text-2xl">Ingrese precio de estas horas:</label>

                        <input type="text" class="form-control block w-full bg-gray-50 border border-gray-300 text-gray-900
                        sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600
                        p-2.5 dark:bg-gray-700 dark:border-gray-600
                        dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
                        dark:focus:border-blue-500" name="name" required id="name" minlength="4"
                            formControlName="name" />

                    </div>

                    <div class="col mt-4 form-group">
                        <label for="input" class="form-label text-[#063c65] dark:text-white text-2xl">Seleccione la
                            duración de la reserva:</label>

                        <select class="form-select block w-full bg-gray-50 border border-gray-300 text-gray-900
                        sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600
                        p-2.5 dark:bg-gray-700 dark:border-gray-600
                        dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
                        dark:focus:border-blue-500" name="rangoHorario" id="rangoHorario" name="rangoHorario"
                            formControlName="rangoHorario" required>
                            <option value="1">1 Hora</option>
                            <option value="2">1:30 Horas</option>
                            <option value="3">2 Horas</option>
                        </select>

                    </div>

                    <div class="text-center mt-4 text-black">
                        <button [width]="'px-[5rem]'" [widthResponsive]="'sm:px-[9rem]'" customButton>
                            Agregar Cancha
                        </button>
                        
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
    
</section>