<header class="flex ga-4 justify-between">

  <section>
    <span class="text-[#307138] text-xl">
      {{monthNameAndYear() | titlecase}}
    </span>
  </section>

  <section>
    <div
      class="text-lg text-center text-white bg-[#307138] cursor-pointer w-[14rem]"
      (click)="showListCourts()"
    >
      <span>
        {{firstCourtName() | titlecase}}
      </span>
    </div>

    <div
      class="text-center mt-1 bg-[#307138] text-lg absolute w-[14rem]"
      *ngIf="listCourts()"
    >
      <div
        class="cursor-pointer py-1 my-1 hover:bg-green-700 text-white"
        *ngFor="let nameCourt of courtsName(); let index = index"
        (click)="getIdCourt(nameCourt._id, index)"
      >
        <span class="block">
          {{nameCourt.name}}
        </span>
      </div>
    </div>
  </section>

  <section>
    <div class="text-lg text-[#307138]">
      <button (click)="prevWeek()" class="mr-3">Atrás</button>
      <span class="font-bold">Semana</span> <button (click)="nextWeek()" class="ml-3">Siguiente</button>
    </div>
  </section>

</header>